.goldContainer {
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: 0px;
  padding-right: 0px;
}

.goldImage {
  width: 100%;
}

.goldHoopsImage {
  display: none !important;
}
.goldHoopsImage2 {
  display: none !important;
}

.sliderDiv {
  position: relative;
}

.overLay {
  position: absolute;
  top: 0;
  bottom: auto;
  padding-top: 18%;
  padding-left: 3%;
  height: 100%;
  width: 50%;
  text-align: start;
}

.name {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 33px;
  line-height: 43px;
  color: #ffffff;
}

.price {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 35px;
  color: #ffffff;
  margin-top: 20px;
}

.button {
  margin-top: 40px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 6px;
  padding: 10px 30px;
  background: transparent;
  background-position: center;
  transition: background 0.8s;
}

.button:hover {
  background: lightgrey radial-gradient(circle, transparent 1%, lightgrey 1%)
    center/15000% !important;
}

.button:active {
  background-color: #444 !important;
  background-size: 100% !important;
  transition: background 0s !important;
}

/* .button:hover {
  background: lightblue;
} */

.categories {
  display: none;
}

@media (max-width: 992px) {
  .overLay {
    padding-top: 17%;
    padding-left: 3%;
    height: 100%;
    width: 50%;
  }

  .name {
    font-size: 25px;
  }

  .price {
    font-size: 22px;
    margin-top: 0px;
  }

  .button {
    margin-top: 10px;
    font-size: 20px;
    padding: 10px 20px;
  }
}

@media (max-width: 776px) {
  .overLay {
    padding-top: 15%;
    padding-left: 3%;
    height: 100%;
    width: 50%;
  }
  .name {
    font-size: 20px;
    line-height: 20px;
  }
  .price {
    font-size: 18px;
    margin-top: 0px;
  }
  .button {
    margin-top: 0px;
    font-size: 16px;
    padding: 5px 10px;
  }
  .categories {
    display: block;
    padding: 0px 15px;
  }
}

@media (max-width: 576px) {
  .goldRow {
    margin-left: 0% !important;
    margin-right: 0% !important;
  }
  .overLay {
    padding-top: 28%;
    padding-left: 3%;
    height: 100%;
    width: 50%;
  }
  .goldImage {
    width: 100%;
    height: 300px;
  }
  .name {
    font-size: 24px;
  }
  .price {
    font-size: 20px;
    margin-top: 0px;
  }
  .button {
    margin-top: 0px;
    font-size: 18px;
    padding: 5px 15px;
  }
}

@media (max-width: 465px) {
  .goldHoopsImage {
    display: block !important;
    width: 100%;
    height: 520px;
  }
  .overLay {
    padding-top: 80%;
    padding-left: 3%;
    height: 100%;
    width: 50%;
  }
  .goldImage {
    display: none !important;
  }
  .name {
    font-size: 26px;
    line-height: 30px;
  }
  .price {
    font-size: 20px;
    font-weight: 500;
  }
  .button {
    margin-top: 0px;
    font-size: 18px;
    padding: 10px 15px;
  }
}

@media (max-width: 420px) {
  .goldRow {
    margin-left: 0% !important;
  }
  .overLay {
    padding-top: 58%;
    padding-left: 3%;
    width: 100%;
  }
  .goldImage {
    display: none !important;
  }

  .name {
    font-size: 24px;
    line-height: 30px;
  }
  .price {
    font-size: 18px;
    line-height: 30px;
  }
  .button {
    margin-top: 0px;
    font-size: 16px;
    padding: 10px 15px;
    line-height: 20px;
  }
  .goldHoopsImage {
    display: none !important;
  }
  .goldHoopsImage2 {
    display: block !important;
    width: 100%;
  }
}
@media (max-width: 350px) {
  .overLay {
    padding-top: 58%;
    padding-left: 3%;
    height: 100%;
    width: 100%;
  }
  .name {
    font-size: 20px;
    line-height: 20px;
  }
  .price {
    font-size: 16px;
    line-height: 30px;
  }
  .button {
    margin-top: 0px;
    font-size: 16px;
    padding: 8px 10px;
    line-height: 20px;
  }
}
