.shoppe {
  font-family: "Allerta Stencil";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 40px;
  margin: auto;
  text-align: start;
  color: #000000;
}

.shoppeLink {
  padding-left: 0px;
  padding-right: 0px;
}

.spanShoppe {
  font-family: "Allerta Stencil";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 40px;
  color: #a18a68;
}

.headerContainer {
  align-items: center;
  padding-left: 0px;
  padding-right: 0px;
}

.cartImageMobile {
  display: none;
}

.navbar {
  margin-top: 30px;
  padding-bottom: 20px;
  /* border-bottom: 1px solid #d8d8d8; */
}

.border {
  width: 100%;
  margin: auto;
  border-bottom: 1px solid #d8d8d8;
}

.navlinkDiv {
  display: flex;
}

.imageDiv {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.cartImage {
  margin-left: 40px;
  list-style-type: none;
  text-decoration: none;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.searchImage {
  margin-left: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  padding-bottom: 5px !important;
}

.searchImg {
  position: absolute !important;
  right: 0% !important;
}

.searchToggleDiv {
  margin-left: 40px;
  cursor: pointer;
  display: block;
  align-items: center;
  position: relative;
  padding-bottom: 5px !important;
}

.searchImgMobile {
  position: absolute !important;
  right: 0% !important;
}

.searchImageDiv {
  display: none;
}

.searchControl1 {
  border-radius: 0px;
  border: none;
  padding-left: 0px !important;
  padding-right: 24px;
  padding-bottom: 2px !important;
  border-bottom: 1px solid #707070;
  margin-top: -3px;
  font-size: 16px;
  transition: all 0.5s ease-in-out;
}

.searchControl1::placeholder {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #707070;
}

.searchControl1:focus,
.searchControl1:active {
  box-shadow: none !important;
  transition: all 0.5s ease-in-out;
}

.searchControl12 {
  border-radius: 0px;
  border: none;
  padding-left: 0px !important;
  padding-right: 24px;
  padding-bottom: 2px !important;
  border-bottom: 1px solid #707070;
  margin-top: -3px;
  font-size: 16px;
}

.searchControl12::placeholder {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #707070;
}

.searchControl12:focus,
.searchControl12:active {
  box-shadow: none !important;
}

.searchInput:focus,
.searchInput:active {
  box-shadow: none !important;
}

.userImage {
  margin-left: 40px;
  list-style-type: none;
  text-decoration: none;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.line {
  margin: auto;
  height: 18px;
  margin-left: 20px !important;
  margin-right: 10px !important;
  border: 1px solid #707070;
  transform: rotate(180deg);
}

.navlink {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #000000 !important;
  margin: 0px 40px;
  list-style-type: none;
  text-decoration: none;
  padding-top: 20px;
  padding-bottom: 21px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.mobile {
  display: none;
}

.desktop {
  display: block;
}

@media (max-width: 992px) {
  .mobile {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
  }
  .desktop {
    display: none;
  }
  .border {
    display: none;
  }
  .navlinkDiv {
    display: block;
    text-align: center;
  }
  .line {
    display: none;
  }
  .cartImage {
    display: none;
  }
  .searchImage {
    display: none;
  }
  .searchImgMobile {
    display: block !important;
  }

  .userImage {
    margin-left: 10px;
    margin-right: 10px;
  }
  .cartToogleDiv {
    display: flex;
    align-items: center;
  }
  .cartImageMobile {
    display: block;
    margin: auto;
    padding: 0px 15px;
    align-self: center;
    margin-top: 6px !important;
  }

  .searchToggleDiv {
    margin-top: -17px !important;
    margin-right: 5px !important;
    cursor: pointer;
    align-self: center;
    display: block !important;
    align-items: center;
    position: relative;
  }

  .searchImgMobile {
    position: absolute !important;
    right: 0% !important;
  }

  .searchImgDiv {
    display: none;
  }
  .searchControl1 {
    display: none;
  }
  .searchImage1 {
    align-self: center;
  }

  .searchImageDiv {
    align-items: center;
    background-color: #efefef;
    border-radius: 4px;
    padding: 10px 15px;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
    display: flex;
    width: 100%;
    margin: auto;
  }

  .searchControl {
    border: none;
    margin-left: 5px;
    padding-right: 0px;
    border-bottom: 0.75px solid #707070;
    padding: 0% !important;
    background: #efefef;
    align-items: center;
    border: none;
    padding-right: 20px;
  }

  .searchControl::placeholder {
    font-family: "DM Sans";
    font-style: normal;
    padding-left: 0px !important;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #707070;
  }

  .searchControl:focus,
  .searchControl:active {
    background: #efefef !important;
    box-shadow: none !important;
  }

  .searchControl::placeholder {
    padding: 0px 20px;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #707070;
  }
}

@media (max-width: 776px) {
  .navbar {
    margin-top: 0px;
    padding-bottom: 0px;
  }
}

@media (max-width: 576px) {
  .headerRow {
    margin-right: 0% !important;
    margin-left: 0% !important;
  }
  .cartImageMobile {
    padding: 0px 10px;
  }
}

@media (max-width: 420px) {
  .cartImageMobile {
    padding: 0px 5px;
  }
  .shoppe {
    font-size: 30px;
  }
  .spanShoppe {
    font-size: 30px;
  }
}
