.myAccountDetailsContainer {
  padding-top: 70px;
  padding-bottom: 110px;
  padding-left: 0px;
  padding-right: 0px;
}

.myAccountTitle {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 33px;
  line-height: 43px;
  color: #000000;
  text-align: center;
}

.navbarMain {
  margin-top: 30px;
}

.navbar-expand {
  flex-wrap: wrap !important;
  justify-content: flex-start;
}

.accountDetails {
  display: flex !important;
}

.navLinks {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  margin-right: 60px;
  color: #707070;
  list-style-type: none;
  text-decoration: none;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.mobile {
  text-align: center;
  margin: auto;
}

.abc {
  margin: auto;
  text-align: center;
}

.abc2 {
  text-align: center;
  display: flex;
}

.navLink {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #707070;
  list-style-type: none !important;
  text-decoration: none !important;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.navLink:active,
.navLink:focus {
  color: #000000 !important;
  border-bottom: 2px solid #000000 !important;
  font-weight: bolder !important;
  margin-left: 30px !important;
  margin-right: 30px !important;
}

.border {
  width: 100% !important;
  border-bottom: 1px solid #d8d8d8 !important;
}

.border1 {
  width: 96% !important;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #d8d8d8 !important;
}

@media (max-width: 767px) {
  .myAccountTitle {
    display: none;
  }
}

/************************ Dashboard ***********************/

.dashboardDiv {
  margin-top: 40px;
}

.dashboardDiv h3 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: start;
  color: #000000;
  margin-top: 15px;
}

.dashboardSpan {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #a18a68;
}

.mobile {
  display: none;
}

@media (max-width: 992px) {
  .navLinks {
    font-size: 18px;
    line-height: 26px;
    margin-right: 30px;
  }
}

@media (max-width: 767px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .navLinks {
    font-size: 18px;
    line-height: 26px;
    margin-right: 30px;
  }
  .navbarMain {
    margin-top: 0px;
  }
  .accountDetails {
    padding-top: 10px !important;
  }
  .myAccountDetailsContainer {
    padding-top: 30px;
    padding-bottom: 50px;
  }
}

@media (max-width: 576px) {
  .myAccountTitle {
    font-size: 28px;
  }
  .navLinks {
    font-size: 16px;
  }
  .myAccountDetailsContainer {
    padding-left: 15px;
    padding-right: 15px;
  }
  .dashboardDiv h3 {
    font-size: 16px;
    line-height: 27px;
    margin-top: 15px;
  }

  .dashboardSpan {
    font-size: 16px;
  }
}

@media (max-width: 420px) {
  .myAccountTitle {
    font-size: 24px;
  }
  .navLinks {
    font-size: 15px;
  }

  .dashboardDiv h3 {
    font-size: 15px;
    line-height: 27px;
    margin-top: 15px;
  }

  .dashboardSpan {
    font-size: 15px;
  }
}

/************************ Orders ***********************/

.orders {
  display: flex;
  justify-content: space-between;
  background: #efefef;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  align-items: center;
  border-top: 2px solid #a18a68;
  margin-top: 30px;
}

.orders h3 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
  margin-top: 5px;
}

.orders button {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #a18a68;
  background: none;
  border: none;
}

.table {
  width: 100%;
  /* border: 1px solid black; */
  border-collapse: collapse;
}

.heading {
  border-bottom: 1px solid #000000;
}
.heading th {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #000000;
}

.tableRow {
  border-bottom: 1px solid #d8d8d8;
}

.table td {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #707070;
}

.viewOrderButton {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #a18a68 !important;
  background: none;
  border: none;
}

@media (max-width: 767px) {
  .orders h3 {
    font-size: 16px;
  }

  .orders button {
    font-size: 15px;
  }
}
@media (max-width: 576px) {
  .orders {
    display: block;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .orders h3 {
    font-size: 16px;
    text-align: start;
  }

  .orders button {
    font-size: 16px;
    text-align: start;
    padding-left: 0px;
  }
}
@media (max-width: 420px) {
  .orders h3 {
    font-size: 15px;
  }

  .orders button {
    font-size: 15px;
  }
}
/************************ Downloads ***********************/
.downloads {
  display: flex;
  justify-content: space-between;
  background: #efefef;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  align-items: center;
  border-top: 2px solid #a18a68;
  margin-top: 30px;
}

.downloads h3 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
  margin-top: 5px;
}

.downloads button {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #a18a68;
  background: none;
  border: none;
}
@media (max-width: 767px) {
  .downloads h3 {
    font-size: 16px;
  }

  .downloads button {
    font-size: 15px;
  }
}
@media (max-width: 576px) {
  .downloads {
    display: block;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .downloads h3 {
    font-size: 16px;
    text-align: start;
  }

  .downloads button {
    font-size: 16px;
    text-align: start;
    padding-left: 0px;
  }
}
@media (max-width: 420px) {
  .downloads h3 {
    font-size: 15px;
  }

  .downloads button {
    font-size: 15px;
  }
}
/************************ Addresses ***********************/
.addresses {
  margin-top: 30px;
}

.addressesRow {
  margin-top: 50px;
}

.addresses h3 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
  text-align: start;
}

.addresses h4 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
}

.addresses button {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #a18a68;
  background: none;
  border: none;
  margin-top: 15px;
  padding-left: 0px;
}

.addresses p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #707070;
  margin-top: 15px;
}

@media (max-width: 767px) {
  .shippingCol {
    margin-top: 30px;
  }
}

@media (max-width: 420px) {
  .addresses h3 {
    font-size: 16px;
  }

  .addresses h4 {
    font-size: 18px;
  }

  .addresses button {
    font-size: 16px;
    margin-top: 10px;
  }

  .addresses p {
    font-size: 14px;
    margin-top: 10px;
  }
}
/************************ Account-details ***********************/
.accountDetails {
  padding-top: 30px;
}

.accountDetails h4 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 33px;
  line-height: 43px;
  text-align: center;
  color: #000000;
}

.accountDetails h6 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
  color: #707070;
  margin-bottom: 30px;
}

.accountDetails h3 {
  font-family: "DM Sans";
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  font-weight: bold;
  text-align: start;
  margin-top: 50px;
  margin-bottom: 40px;
}

.formControl {
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  border-bottom: 1px solid #d8d8d8 !important;
}

.formControl::placeholder {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #707070;
}

.formControl:active,
.formControl:focus {
  box-shadow: none !important;
}

.submit {
  margin-top: 45px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  padding: 10px 30px;
  background: #000000;
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 100%;
}

@media (max-width: 767px) {
  .accountDetails h4 {
    display: none;
  }
}
@media (max-width: 365px) {
  .formControl::placeholder {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    color: #707070;
  }
  .submit {
    margin-top: 40px;
    font-size: 14px;
    padding: 10px 20px;
  }
}
@media (max-width: 338px) {
  .formControl::placeholder {
    font-weight: 400;
    font-size: 12px;
  }
}
