.resetPasswordContainer {
  padding-top: 90px;
  padding-bottom: 90px;
}

.resetPasswordContainer h3 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 33px;
  line-height: 43px;
  color: #000000;
  text-align: center;
}

.resetPasswordContainer h4 {
  display: none;
}

.resetPasswordContainer p {
  max-width: 500px;
  margin: auto;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 27px;
  color: #000000;
  text-align: center;
  margin-top: 30px !important;
}

.mainDiv {
  width: 50%;
  margin: auto;
}

.form {
  margin-top: 80px;
}

.formControlCol {
  width: 75%;
  margin: auto;
}

.formControl {
  color: #707070;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  border-bottom: 1px solid #d8d8d8 !important;
}

.formControl::placeholder {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #707070;
}

.formControl:focus,
.formControl:active {
  box-shadow: none !important;
}

.resetButtonDiv {
  text-align: center;
  margin-top: 60px;
}

.resetButton {
  width: 490px;
  background: #000000;
  border-radius: 4px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ffffff;
  text-transform: uppercase;
}

@media (max-width: 1399px) {
  .mainDiv {
    width: 58%;
    margin: auto;
  }
}
@media (max-width: 1199px) {
  .mainDiv {
    width: 70%;
    margin: auto;
  }
}
@media (max-width: 992px) {
  .mainDiv {
    width: 93%;
    margin: auto;
  }
}
@media (max-width: 767px) {
  .resetPasswordContainer h4 {
    display: block;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    color: #000000;
    text-align: center;
  }
  .resetPasswordContainer h3 {
    display: none;
  }
  .mainDiv {
    width: 100%;
    margin: auto;
  }
  .resetPasswordContainer {
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .formControlCol {
    width: 100%;
    margin: auto;
    margin-top: 20px !important;
  }
  .resetButton {
    width: 100%;
  }
  .resetButtonDiv {
    text-align: center;
    margin-top: 40px;
  }
  .resetPasswordContainer p {
    max-width: 100%;
    font-size: 18px;
    line-height: 27px;
    text-align: start;
  }
  .form {
    margin-top: 50px;
  }
}
@media (max-width: 576px) {
  .resetPasswordContainer {
    padding-left: 15px;
    padding-right: 15px;
  }
  .resetPasswordContainer p {
    max-width: 100%;
    font-size: 16px;
    line-height: 27px;
  }
  .resetButton {
    font-size: 14px;
  }
}
@media (max-width: 420px) {
  .btn {
    padding: 10px 0px;
    width: 49%;
  }
  .btnDiv {
    margin-top: 40px !important;
  }
}
